.gameContainer {
  height: 100vh;
  width: 100vw;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameContent {
  width: 80%;
  height: 80%;
  background-color: white;
  display: flex;
}

.snakeArea {
  display: flex;
}

.jonerbroner {
  display: flex;
  justify-content: flex-end;
  background-color: green;
  height: 2rem;
  width: 8rem;
  position: relative;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  align-items: center;
  border-top: dashed orange 4px;
  border-bottom: dashed pink 3px;
}

.eyes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-eye {
  width: 0.2rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 100%;
  border: 0.1rem solid white;
}

.right-eye {
  margin-top: 0.3rem;
  width: 0.2rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 100%;
  border: 0.3rem solid white;
}

.mun {
  margin-bottom: 0.6rem;
  width: 0.2rem;
  height: 0.2rem;
  background-color: pink;
  border-bottom-left-radius: 70%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 80%;
  border: 0.3rem solid red;
  animation: mouth 1s ease-in-out infinite;
}

@keyframes mouth {
  0% {
    width: 0.2rem;
  }
  50% {
    width: 1.2rem;
  }

  100% {
    width: 0.2rem;
  }
}

.face {
  display: flex;
  transform: rotate(62deg);
  background: green;
  border-radius: 1rem 1rem 2rem 4rem;
  border: 2px solid darkolivegreen;
  position: absolute;
  top: -5px;
  right: -10px;
}
